


@media only screen and (max-width: 414px) {
  .banner-bg {
    pointer-events: none;
    height: 100vh;
  }
  .no-banner {
    display: none;
  }
}


@media only screen and (max-width: 320px) {
  
    .banner-content {
      height: 320px;
      width: 91%;
    }
    h1 {
      font-size: 56px;
      line-height: 64px;
    }
  
}
@media only screen and (max-width: 500px) {
  
    input[type="text"], input[type="password"], input[type="number"]{
        font-size: 12px;
    }
  
}
@media only screen and (max-width: 800px) {

  input[type="text"],
  input[type="password"],
  input[type="number"] {
    font-size: 14px;
  }

}
@media only screen and (max-width: 500px) {
    p{
        font-size: 11px;
    }
    .banner .banner-content {
        margin-top: 0px;
      width: 91%;
    }
    .page1{
        min-height: 200px;
        /* // margin-top: -20px; */
    }
    .page-wrapper{
        margin-top: -40vh!important;
    }
    .bg-bott{
        background-image: url('/src/Images/downBann.png');
        height: 400px;
        /* background-position: contain; */
        background-size: cover;
        background-repeat: no-repeat;
    }
    .site-top{
        margin-left: 10px!important;
    }

.hide-mobile{
    display: none;
}

    .page1{
        display:none
    }
    /* .page-wrapper{
        display: none;
    } */
    
    .page4 {
        min-height: 285px;
        background: none;
        padding-top: 72px;
        /* h1 {
          margin: 0 auto 18px;
        } */
      }
       
        .page3 .map-tip {
          left: 10vw;
          top: 90px;
          transform: translateX(0px);
          max-width: 330px;
          width: 80%;
        }
      
      .page5{
        margin: auto;
      }
      .page6 {
        /* // min-height: 1096px; */
        padding: 72px 0;
      }
      .footer {
        font-size: 12px;
        padding-right: 0;
        padding-left: 0;
        text-align: center;
      }

      .pincode-input-container :first-child {
        margin-right: 20px!important;
        width: 58px!important;
        height: 74px!important;
    }
    .pincode-input-container :nth-child(2) {
        margin-right: 20px!important;
        width: 58px!important;
        height: 74px!important;
    }
    .pincode-input-container :nth-last-child(2) {
        margin-right: 20px!important;
        width: 58px!important;
        height: 74px!important;
    }
    .pincode-input-container :last-child {
        margin-right: 20px!important;
        width: 58px!important;
        height: 74px!important;
    }
  }
